:root {
  --background: #ffffff;
  --foreground: #6a6a6a;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #000000 !important;
  color: #6a6a6a !important;
}

body {
  color: #6a6a6a;
  background: #000000;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

strong,
b {
  color: #6a6a6a !important;
  font-weight: bold;
}

p strong,
li strong,
div strong,
span strong {
  color: #6a6a6a !important;
}
